# LaTeX auxiliary files
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out
*.lof
*.lot
*.bbl
*.blg

# LaTeX temp files
*.nav
*.snm

# OS junk
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc